<%= form_with(model: piece, local: true) do |form| %>
  <% if piece.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(piece.errors.count, "error") %> prohibited this piece from being saved:</h2>

      <ul>
        <% piece.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>Choose Board Game</p>
  <div class="field">
  <%= form.label :name %>
    <select name="piece[board_game_id]">
    <% @board_games.each do |board_game| %>
      <option value="<%= board_game.id %>"><%= board_game.name %></option> 
    <% end %>
    </select>
  </div>

  <div class="field">
    <%= form.label :piece_name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
