<%= form_with(model: board_game, local: true) do |form| %>
  <% if board_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_game.errors.count, "error") %> prohibited this board_game from being saved:</h2>

      <ul>
        <% board_game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :rules %>
    <%= form.text_area :rules %>
  </div>

  <div class="field">
    <%= form.label :rules_pdf %>
    <%= form.file_field :rules_pdf %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
