<p id="notice"><%= notice %></p>

<h1>Board Games</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Box Image</th>
      <th>Download Box Image Link</th>
      <th>Pieces Images</th>
      <th>Download Pieces Image Link</th>
      <th>Download Rules Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_games.each do |board_game| %>
      <tr>
        <td><%= board_game.name %></td>
        <td><%= image_tag board_game.box.variant(resize: "100x100", grayscale: "Rec709Luminance").processed %></td>  
        <td><%= link_to 'Box Image', rails_blob_path(board_game.box, disposition: "attachment") %></td>
        <td><%= image_tag board_game.pieces.last.variant(resize: "100x100", grayscale: "Rec709Luminance").processed %></td> 
        <td><%= link_to 'Pieces Images', rails_blob_path(board_game.pieces.last, disposition: "attachment") %></td>
        <td><%= link_to 'Rules PDF', rails_blob_path(board_game.rules_pdf, disposition: "attachment") %></td>
        <td><%= link_to 'Show', board_game %></td>
        <td><%= link_to 'Edit', edit_board_game_path(board_game) %></td>
        <td><%= link_to 'Destroy', board_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Game', new_board_game_path %>
