<p id="notice"><%= notice %></p>

<h1>Board Games</h1>

<table>
  <thead>
    <tr>
      <th>Box Image</th>
      <th>Download Image Link</th>
      <th>Name</th>
      <th>Rules Description</th>
      <th>Download Rules Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_games.each do |board_game| %>
      <tr>
        <td><%= image_tag board_game.image.variant(resize: "100x100").processed %></td>  
        <td><%= rails_blob_path(board_game.image, disposition: "attachment") %></td>
        <td><%= board_game.name %></td>
        <td><%= board_game.rules %></td>
        <td><%= rails_blob_path(board_game.rules_pdf, disposition: "attachment") %></td>
        <td><%= link_to 'Show', board_game %></td>
        <td><%= link_to 'Edit', edit_board_game_path(board_game) %></td>
        <td><%= link_to 'Destroy', board_game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Game', new_board_game_path %>
