<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board_game.name %>
</p>

<p>
  <strong>Rules:</strong>
  <%= @board_game.rules %>
</p>

<%= link_to 'Edit', edit_board_game_path(@board_game) %> |
<%= link_to 'Back', board_games_path %>
